<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles1.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Player Dashboard</title>
</head>

<body>
  <%- include('partials/header') %>

  <% if (player) { %>
  <h2>Games for Team <%= player.Metadata.team %>, Player Number <%= player.Metadata.number %></h2>
  <button onclick="startGame()">Start Game</button>
  <% } %>

  <ul class="game-states">
    <% gameStates.forEach(game => { %>
    <li class="game-state <%= game.GameName %>">
      <div>
        <h2>TARGETS:<%= game.GameName %> DURATION: <%= game.Duration %></h2>
        <h2>Score: <%= game.Score %></h2>
      </div>

      <canvas id="reactionTimeChart<%= game.GameID %>" width="400" height="200"></canvas>
    </li>
    <% }) %>
  </ul>

  <%- include('partials/footer') %>
  <script src="/js/script.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const gameStates = <%- JSON.stringify(gameStates) %>;
    console.log(gameStates);
    gameStates.forEach(game => {
      var dataArray = game.Metadata.reactionTimes;
      dataArray.shift();
      const ctx = document.getElementById('reactionTimeChart' + game.GameID).getContext('2d');
      new Chart(ctx, {
        type: 'line',
        data: {
          labels: dataArray.map((_, index) => (index + 1)),
          datasets: [{
            label: 'Reaction Time (ms)',
            data: dataArray,
            borderColor: 'rgba(75, 192, 192, 1)',
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            fill: true,
            tension: 0.1
          }]
        },
        options: {
          responsive: true,
          scales: {
            x: {
              title: {
                display: true,
                text: 'SCORE'
              }
            },
            y: {
              title: {
                display: true,
                text: 'Reaction Time (ms)'
              }
            }
          }
        }
      });
    });

    function startGame() {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", '/start-game', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({
        value: <%- JSON.stringify(player) %>
      }));
      // var form = document.createElement('form');
      // form.setAttribute('method', 'post');
      // form.setAttribute('action', '/start-game');
      // form.style.display = 'hidden';
      // document.body.appendChild(form)
      // form.requestSubmit();
    }
  </script>
</body>

</html>